{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block content %}
 {{ form(form) }}
 {% for message in app.flashes('notice') %}
  <div class="alert alert-info">{{ message }}</div>
 {% endfor %}
{% endblock %}
